name: Vault Secret Update

on:
  workflow_dispatch:

jobs:
  update-secret:
    runs-on: self-hosted
    env:
      VAULT_ADDR: http://127.0.0.1:8200
      VAULT_ROLE_ID: ${{ secrets.VAULT_ROLE_ID }}
      VAULT_SECRET_ID: ${{ secrets.VAULT_SECRET_ID }}

    steps:
      - name: Login to Vault using AppRole
        id: vault-login
        run: |
          $env:VAULT_TOKEN = vault write -field=token auth/approle/login role_id=$env:VAULT_ROLE_ID secret_id=$env:VAULT_SECRET_ID
          echo "VAULT_TOKEN=$env:VAULT_TOKEN" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Patch secret in Vault
        run: |
          vault kv patch secret/myapps/qa-server-inspect/config images_folder="test-folder-from-github"

